.{
    font-family: 'Oswald', sans-serif:
}
h1{
    background-color:black;
    border: 2px solid black
    
}
body{
    background-color:LightCoral;
text-align: centers;
border: 4px solid black
}

    


h1{
    color: aqua;
    text-align: centers;
}
}
img{
    width: 800px;
    border-radius: 50%;
    
}
h2{
    color: aquamarine;
    text-align: centers;
}
}
h3{
    color: azure;
}
p{
    font-weight: bolds;
    text-transform: uppercase;
    text-align: center;
}
ul li{
    text-decoration: nones;
}
    



h4{
    color: beige;
    text-align: centers;
}
}
h5 {
    color: bisque;
    text-align: centers;
}
}
h6 {
    color: blue;

.tarjeta
background-color:Salmonrgb(250, 128, 114)
    text-align: centers;
}

    






